<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<!--   
  <servlet>
    <display-name>MetaData</display-name>
    <servlet-name>MetaData</servlet-name>
    <servlet-class>rnd.metadata.MetaDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetaData</servlet-name>
    <url-pattern>/metadata/*</url-pattern>
  </servlet-mapping>
 -->
  <filter>
    <display-name>OriginFilter</display-name>
    <filter-name>OriginFilter</filter-name>
    <filter-class>rnd.web.filter.OriginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OriginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>